@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=cyrillic,cyrillic-ext')

// media mixin
$medium: 900px
=md-up
  @media screen and (min-width: #{$medium})
    @content

html
  box-sizing: border-box
*, *::before, *::after
  box-sizing: inherit

body
  padding: 40px 3%
  font-family: 'Comfortaa', sans-serif

section
  display: flex
  flex-direction: column
  margin-bottom: 20px

ul
  margin: 0 0 30px

.msg-validation
  padding: 0.25rem 1rem 0.5rem
  color: #792a35
  font-size: 0.85rem
  font-weight: bold

.form
  padding: 40px 32px
  margin: 48px auto
  text-align: center

@import "grid"
@import "btn"
@import "card"
@import "input"
